:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

canvas {
  background: white;
  width: 80vmin;
  height: 80vmin;
  image-rendering: pixelated;
  border-radius: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

button {
  padding: .5em 1em;
  font-size: 1.1rem;
}
